{
  "extends": "@rdgomt/eslint-config",
  "rules": {
    "@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
    "typescript-sort-keys/interface": "warn",
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["block", "block-like", "multiline-const", "multiline-let", "multiline-var", "return", "throw"]
      },
      {
        "blankLine": "never",
        "prev": ["singleline-const", "singleline-let", "singleline-var"],
        "next": ["singleline-const", "singleline-let", "singleline-var"]
      }
    ]
  }
}
