{
  "extends": ["@rdgomt/eslint-config"],
  "plugins": ["perfectionist"],
  "rules": {
    "require-atomic-updates": "off", // TODO: estudar como resolver
    "@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
    "max-statements": "off",
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "next": [
          "block",
          "break",
          "case",
          "cjs-export",
          "continue",
          "default",
          "do",
          "export",
          "for",
          "function",
          "if",
          "iife",
          "multiline-block-like",
          "multiline-const",
          "multiline-expression",
          "multiline-let",
          "multiline-var",
          "return",
          "switch",
          "throw",
          "try",
          "while",
          "with"
        ],
        "prev": "*"
      },
      {
        "blankLine": "never",
        "next": ["singleline-const", "singleline-let", "singleline-var"],
        "prev": ["singleline-const", "singleline-let", "singleline-var"]
      }
    ],

    "perfectionist/sort-array-includes": "warn",
    "perfectionist/sort-classes": "off",
    "perfectionist/sort-enums": "warn",
    "perfectionist/sort-interfaces": "warn",
    "perfectionist/sort-jsx-props": "warn",
    "perfectionist/sort-map-elements": "warn",
    "perfectionist/sort-named-imports": "warn",
    "perfectionist/sort-object-types": "warn",
    "perfectionist/sort-objects": "warn",
    "perfectionist/sort-union-types": "off",
    "typescript-sort-keys/interface": "off"
  }
}
